<a href="https://colab.research.google.com/github/Garik-ctrl/Modul-1/blob/main/2025_01_11_Built_in_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###  Př. 1 String repeat
The pizza company's customers have unique tastes; they prefer pizza names to be stylized in a particular way. Create a Python function named string_repeat() that takes two arguments, number (an integer) and str (a string), and returns the str repeated number times.

The `string_repeat(2, "HawaiiPizza")` function should return the string `HawaiiPizzaHawaiiPizza`.

In [1]:
def string_repeat(number, str):
    return str * number

string_repeat(2, "HawaiiPizza")

'HawaiiPizzaHawaiiPizza'

In [6]:
def string_repeat2(number,str):
  vysledek=[]
  for cislo in range(number):
    vysledek.append(str)
  return "".join(vysledek)

string_repeat2(2, "HawaiiPizza")

'HawaiiPizzaHawaiiPizza'

### Př. 2 No whitespaces
Due to a design oversight, the pizza names are too long for the website's layout. The quickest fix is to remove all spaces from the names. Write a Python function named no_space() that takes a string str and returns it without any spaces.

The `no_space()` function must return a string with all whitespaces removed.

vstup: " Pizza Hawaii "

výstup: "PizzaHawaii"

In [7]:
def no_space(str):
  return str.replace(" ","")

no_space(" Piz za Haw aii ")

'PizzaHawaii'

In [8]:
def no_space2(str):
  vysledek=str.split(" ")
  print(vysledek)
  return "".join(vysledek)

no_space2(" Piz za Haw aii ")

['', 'Piz', 'za', 'Haw', 'aii', '']

'PizzaHawaii'

### Př. 3 Number to string
The order system is flawed; it can only process string inputs. Write a Python function named number_to_string() that accepts an integer and returns it as a string.

The `number_to_string()` function should return a string.

---
vstup: integer: uživatel zadá číslo
výstup: vrátit ve formátu string

type( ) - string

In [14]:
def number_to_string(integer):
  return str(integer)

number_to_string(123)

Zadej číslo: 55
<class 'str'> 55

### Př. 3.1

vstup: uživatel zadá 5 vstupů

výstup je pole s pěti stringy

Nápověda:.isnumeric()

In [16]:
def number_to_string_5x():
  vysledek=[]
  pocet_prubehu=5
  for index in range(pocet_prubehu):
    cislo=input("zadej cislo: ")
    if cislo.isnumeric():
      vysledek.append(str(cislo))
    else:
      vysledek.append("byl zadán text")

  return vysledek, type(vysledek)


number_to_string_5x()

zadej cislo: 10
zadej cislo: aaa
zadej cislo: 5ac
zadej cislo: 99
zadej cislo:    5

(['10', 'byl zadán text', 'byl zadán text', '99', 'byl zadán text'], list)

### Př. 4 Boolean to string
There are still issues with the ordering system. Create a Python function named boolean_to_string() that takes a boolean and returns it as a string.

The `boolean_to_string()` function should return a string.

### Př. 5 Abbreviate a Pizza name
To simplify the waitstaff's job, we need a function to abbreviate pizza names. Write a Python function named abbrev_name() that accepts a string consisting of two words and returns the initials of each word, separated by a dot.

The `abbrev_name("Hawaii Pizza")` function should return "H.P.
"

In [49]:
def abbrev_name(str):
  vysledek=[]
  pole_pizz=str.split(" ")
  for nazev in range(len(pole_pizz)):
    vysledek.append(pole_pizz[nazev][0].capitalize())
  return ".".join(vysledek)+"."

In [50]:
abbrev_name("quatro al Formagi")

'Q.A.F.'

### Př. 6 Pizza length
Create a Python function named name_length() that takes a string and returns a list where each element's length is appended next to it.

The `name_length("hawaii pizza")` function should return `["hawaii 6", "pizza 5"]`.

### Př. 7 Remove the first and last element
Due to an error, two extra orders were added by mistake. Write a Python function named `remove_orders()` that takes a string of numbers separated by commas, converts it into a list, removes the first and last elements, and then returns the modified list as a string.

The `remove_orders("1,2,3,4")` function should return `"2,3"`.

### Př. 8 The menu
Implement a Python function named `food_menu() `that takes a list of food items as an argument and returns a new list with each item prefixed by its position in the original list.

The `food_menu(["Hawaii Pizza", "Diablo Pizza"])` function should return `["1. Hawaii Pizza", "2. Diablo Pizza"].`